<h1>Inzeraty</h1>


<%= @items[0].name %><br>
<%= @items[1].name %><br>
<%= @items[2].name %><br>
<br>

<% @items.each do |item| %>

    <h3>
        <%= link_to item.name, item_path(item)%>    
    </h3>

    <%= item_path(item) %><br>
    <%= item_url(item) %><br>

    <%= item.price %><br>
    <%= item.phone %><br>
    <hr>
<% end %>