<h1>Inzeraty</h1>

<%= link_to "Pridat Inzerat", new_item_path%>  

<% @items.each do |item| %>

    <h3>
        <%= link_to item.name, item_path(item)%>    
    </h3>

    <%# = item_path(item) %>
    <%# = item_url(item) %>


    <%= item.price %><br>
    <%= item.phone %><br>
    
    <%= link_to "Odstranit", item_path(item), data: {turbo_method: :delete, turbo_confirm: "Urcite?"} %>
    <hr>
<% end %>