<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= t('categories.index.title') %></h1>
    <%= link_to t('categories.new.title'), new_admin_category_path, class: "btn btn-primary" %>
  </div>


  <div class="row">
  <% @categories.each do |category| %>
    <div class="col-12">
      <div class="card mb-3 border-0 shadow-lg bg-light">
        <div class="card-body">
          <h5 class="card-title"><%= link_to category.name, admin_category_path(category), class: "text-decoration-none text-primary" %></h5>
          <p>
            <%= link_to t('categories.show.admin.edit'), edit_admin_category_path(category), class: "btn btn-warning" %>
            <%= link_to t('categories.show.admin.delete'), admin_category_path(category), data: { turbo_method: :delete, turbo_confirm: t('categories.show.admin.delete_confirm') }, class: "btn btn-danger" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>