<h1>Detial kategorie</h1>

<p><%= link_to "Spat", categories_path %></p>

<h2><%= @category.name %></h2>

<p><%= link_to "Upravit", edit_category_path(@category) %></p>
<p><%= link_to "Vymazat", category_path(@category), data: {turbo_method: :delete, turbo_confirm: "Urcite?"} %></p>

<h3>Inzeraty v tejto kategorii</h3>

<%= render @category.items %>

<%# @category.items.each do |item| %>
  <%#= render 'items/item', item: item %>
<%# end %>