<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bazarko" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Bazarko</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "Inzeraty", items_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Kategorie", categories_path, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container" style="padding-bottom: 80px;"> 
      <%= yield %>
    </div>

    <footer class="text-center py-3 fixed-bottom" style="background-color: #e3f2fd;">
      <div class="container">
        <p class="mb-0">© 2024 Bazarko</p>
      </div>
    </footer>

  </body>
</html>
